body{
  background-color: whitesmoke;

}
    .one {
      background-color: pink;
      height: 400px;
      font-style: italic;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      
      
      
    }
   
    .two {
      background-color: rgb(219, 147, 159);
      height: 400px;
      ;
    }
    .flex-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  
      
    
    }
    .flex-container div {
margin: 60px;

    }

@media (max-width: 800px) {
  .flex-container {
    flex-wrap: wrap;
  }
}
h1 {

color: white;
text-shadow: 2px 2px grey;
font-family: 'Noto Sans Symbols 2', sans-serif;
font-family: 'Poppins', sans-serif;

}


p {
  color: white;
  text-shadow: 2px 2px grey;
font-family: 'Noto Sans Symbols 2', sans-serif;
font-family: 'Poppins', sans-serif;

}
